.section__second {
  background: linear-gradient(
    to bottom,
    #fff 0%,
    #fff 31%,
    #96bad8 31%,
    #96bad8 91%,
    #fff 91%,
    #fff 100%
  );
  height: 1138px;
}

@media (max-width: 768px) {
  .section__second {
    background: linear-gradient(
      to bottom,
      #fff 0%,
      #fff 28%,
      #96bad8 28%,
      #96bad8 78%,
      #fff 78%,
      #fff 100%
    );
    height: 1044px;
  }
}

@media (max-width: 320px) {
  .section__second {
    height: 464px;
    background: linear-gradient(
      to bottom,
      #fff 0%,
      #fff 27%,
      #96bad8 27%,
      #96bad8 76%,
      #fff 76%,
      #fff 100%
    );
  }
}

.section__second__wrapper {
  background-image: url("../images/section-first/4F_BTS_LANDING_DESKTOP1_0020_kratka.png");
  background-repeat: no-repeat;
  background-size: 26.5%;
  background-position-x: center;
  background-position-y: 260px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 100%;
}

@media (max-width: 768px) {
  .section__second__wrapper {
    background-position-y: 218px;
    background-size: 70%;
  }
}

@media (max-width: 320px) {
  .section__second__wrapper {
    background-position-y: 95px;
    background-size: 75%;
  }
}

.section__image {
  width: 100%;
  max-width: 617px;
  height: auto;
}

@media (max-width: 768px) {
  .section__image {
    max-width: 467px;
  }
}

@media (max-width: 320px) {
  .section__image {
    min-width: 200px;
  }
}

.second__wrapper__right {
  display: flex;
  color: #283684;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: -0.05em;
  text-align: left;
  padding-top: 260px;
}

@media (max-width: 768px) {
  .second__wrapper__right {
    display: none;
  }
}

@media (max-width: 320px) {
  .second__wrapper__right {
    display: none;
  }
}

/* .section__second--animation {
  animation: slide 1s ease-out;
  overflow: hidden;
} */

.second__wrapper__footer {
  grid-column: span 2;
}

.second__footer__number {
  color: #1b1509;
  max-width: 100%;
  padding-right: 1em;
  font-family: "Neuzeit Grotesk", sans-serif;
  font-weight: bold;
  font-size: 15.98vw;
  text-align: right;
}

@media (max-width: 768px) {
  .second__footer__number {
    font-size: 22.91vw;
    padding-top: 1em;
  }
}

@media (max-width: 320px) {
  .second__footer__number {
    height: 50%;
  }
}

.section__numbers--animations {
  cursor: pointer;
  animation: linear 1s slide;
}

.section__second__divider {
  height: 152px;
  background-color: #fff;
}

@media (max-width: 768px) {
  .section__second__divider {
    height: 150px;
  }
}

@media (max-width: 320px) {
  .section__second__divider {
    display: none;
  }
}
